.button .is-info{
    background-color: $cyan !important;
    border-color: transparent;
    color: #fff;
}

.MuiButton-containedPrimary{
  background-color: #003c71 !important;
}

.MuiButton-label{
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
}
.MuiInput-underline:after{
  border-bottom-color: $cyan !important;
  color: $yellow !important;
}
.MuiFormLabel-root.Mui-focused{
  color:$cyan !important;
}

.doi-width{
  width: 250px;
  align-items: center;
  display: inline-block;
}

.manAdd-width{
  width: 500px;
  align-items: center;
  display: inline-block;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.form-label{
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
  align-items: left;

}

.btn.btn-contained{
  background-color: #003c71 !important;
  color: white;
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
}

.navbar{
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
  //align-items: center;
  //text-align: center !important;
  //display: inline-block !important;
  width: 100%;
}

.navbar-brand{
  color: white !important;
  display: inline-block !important;
}

.container{
  align-items: center !important;
  display: inline-block !important;
  width : 100%;
  margin-left: 95px;
}

.btn-outline-primary{
  border-color: white;
  color: white;
}

