// Override Bootstrap Variables
@import 'variables';

@import '~bootstrap/scss/bootstrap.scss';
$theme-colors: map-merge($theme-colors, $custom-colors);

// Import Custom Components
@import './src/styles/components/_brown_fonts.scss';
@import './src/styles/components/_brown_icons.scss';
@import './src/styles/components/_brown_footer.scss';
@import './src/styles/components/_app.scss';

.form-group.required > .form-label:after {
  content: ' *';
  color: red;
}
